.studentLessons {
  align-items: flex-start;
  grid-row-gap: 2rem;
}

.studentLessons > .studentDiv {
  grid-template-columns: 1fr 3rem;
}

#studentLessonsContainer > #studentsDivSection {
  display: grid !important;
}
