:root {
  --errorRed: rgb(204, 75, 75);
  --loaderBlue: rgb(82, 177, 186);
  --iconBg: rgb(46, 50, 155);
  --inputBorder: rgb(24, 46, 95);
  --navbarBg: rgb(79, 117, 171);
  --btnBg: rgb(119, 165, 218);
  --headerBg: rgb(50, 88, 194);
  --optionBg: rgb(200, 223, 214);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

section,
article,
div,
figcaption,
form {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

input,
button {
  border: none;
  outline: none;
  transition: 0.2s;
}

input {
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: var(--btnBg);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  letter-spacing: 1px;
  border: 2px solid black;
  cursor: pointer;
}

button:hover {
  background-color: var(--inputBorder);
  color: white;
}
