:root {
  --errorRed: rgb(197, 144, 144);
  --loaderBlue: rgb(82, 177, 186)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

section,
article,
div,
figcaption,
form {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

input,
button {
  border: none;
  outline: none;
}

input {
  border-radius: 8px;
}

button {
  background-color: rgb(119, 218, 119);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  letter-spacing: 1px;
  border: 2px solid black;
  cursor: pointer;
}
