#paginationSection {
  justify-content: center;
  grid-template-columns: 2rem auto 2rem;
}

#numbers {
  max-width: 22rem;
  min-width: 2rem;
  grid-template-columns: repeat(10, auto);
}

.numbers {
  width: 2.2rem;
  height: 2rem;
  background-color: var(--headerBg);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 3px;
  transition: 0.2s;
}

.numbers:hover {
  background-color: var(--inputBorder);
  border: 2px solid var(--optionBg);
}

.dots {
  width: 2.2rem;
  height: 2rem;
  letter-spacing: 2px;
}

.buttonIcons {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5px;
  color: rgb(230, 235, 250);
  cursor: pointer;
  margin: 0 3px;

  transition: 0.2s;
}
.buttonIcons:hover {
  color: var(--inputBorder);
}

#leftIcon,
#rigthIcon {
  font-size: 1.8rem;
}

#leftContainer {
  margin-right: 1rem;
}
#rightContainer {
  margin-left: 1rem;
}

#selectedPage {
  background-color: var(--inputBorder);
  border: 2px solid var(--optionBg);
  margin: 0 3px;
}
