.addLesson {
  grid-template-columns: 1fr !important;
  position: relative;
}

#lessonDiv {
  position: absolute;
  top: calc(3rem + 6px);
  grid-row-gap: 1rem;
  z-index: 1;
}

.recommendedLessons {
  background-color: var(--headerBg);
  color: white;
  border: 5px solid transparent;
  height: 4rem;
  cursor: pointer;
  transition: 0.2s;
}

.recommendedLessons:hover {
  background-color: var(--inputBorder);
  border: 5px solid white;
  color: white;
}
