.addLesson {
  grid-template-columns: 1fr;
  position: relative;
}

#lessonDiv {
  position: absolute;
  top: calc(3rem + 6px);
  grid-row-gap: 1rem;
  z-index: 1;
}

.recommendedLessons {
  background-color: var(--optionBg);
  height: 2rem;
  cursor: pointer;
}
