.semesterContainer {
  grid-template-columns: 1fr 8rem;
}

#semesterDiv {
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

#semester {
  border: 2px solid white;
  color: white;
  background-color: var(--inputBorder);
  grid-template-columns: auto auto auto;
  padding: 5px;
}

#semesterIcon {
  font-size: 1rem;
  color: white;
}

#semester,
.hiddenSemesters {
  grid-column-gap: 0.3rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

#hiddenSemesters {
  justify-content: flex-end;
  position: absolute;
  top: 2.3rem;
  right: 0;
  grid-row-gap: 0.3rem;
  display: none;
}

.hiddenSemesters {
  border: 2px solid var(--inputBorder);
  grid-template-columns: auto auto;
  justify-content: flex-end;
  padding-right: 1.5rem;
  background-color: var(--optionBg);
}

@media screen and (max-width: 410px) {
  .semesterContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
  }
  .semesterInfoDiv {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 260px) {
  .semesterInfoDiv {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 210px) {
  .semesterInfoDiv {
    font-size: 0.3rem;
  }
}
