#studentsDivSection {
  grid-row-gap: 1rem;
}

.studentDiv {
  grid-template-columns: 3rem 5rem 1fr 3rem;
  height: 2rem;
}

.studentNo {
  background-color: lightblue;
  padding: 7px;
  border: 2px solid black;
  border-right: none;
}

.studentName {
  background-color: white;
  padding: 7px;
  border: 2px solid black;
  border-right: none;
}

.studentGrade {
  background-color: var(--inputBorder);
  border: 2px solid black;
  cursor: text;
  color: var(--optionBg);
}

.gradeDiv {
  padding: 7px;
}

@media screen and (max-width: 410px) {
  .studentDiv {
    grid-template-columns: 1.5rem 4rem 1fr 2rem;
    height: 2rem;
  }
  .studentNo,
  .studentName,
  .downIcon,
  .gradeDiv {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 260px) {
  .studentNo,
  .studentName,
  .gradeDiv {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 210px) {
  .studentNo,
  .studentName,
  .gradeDiv {
    font-size: 0.3rem;
  }
}
