.studentDiv {
  grid-template-columns: 1fr 3.1rem;
  height: 2rem;
}

.studentName {
  background-color: white;
  padding: 7px;
  border: 2px solid black;
  border-right: none;
}

.studentGrade {
  background-color: var(--inputBorder);
  border: 2px solid black;
  cursor: text;
  color: var(--optionBg);
}

.gradeDiv {
  padding: 7px;
}
