#lessonsSection {
  align-items: flex-start;
}

#teacherSection {
  padding: 1.5rem;
  grid-template-rows: 2rem auto;
  grid-row-gap: 1rem;
}

#lessonContainer {
  align-items: flex-start;
  grid-row-gap: 2rem;
  height: auto;
}

.lessons,
.allLessons {
  align-items: flex-start;
  height: auto;
  grid-row-gap: 2rem;
}

.lessonComponentsDiv {
  align-items: flex-start;
  grid-template-rows: 2rem auto;
  grid-row-gap: 3rem;
}

.lessonDiv {
  grid-template-columns: 3rem 1fr 3rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  border: 2px solid black;
}

.lessonName {
  background-color: var(--inputBorder);
  color: white;
}
@media screen and (max-width: 410px) {
  .lessonDiv {
    grid-template-columns: 2rem 1fr 2rem;
  }
  .nameDiv,
  .downIcon {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 260px) {
  .nameDiv,
  .downIcon {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 210px) {
  .nameDiv,
  .downIcon {
    font-size: 0.3rem;
  }
}
.slideDown {
  border-left: 2px solid black;
  background-color: var(--optionBg);
  transition: 0.2s;
  cursor: pointer;
}

.downIcon {
  transition: 0.2s;
  color: black;
}
