#table {
  grid-template-rows: 6rem auto;
  align-items: flex-start;
}

table {
  margin-top: 2rem;
    width: 100vw;

}

#searchType {
  justify-items: flex-start;
  padding-left: 0.5rem;
}

tr {
  height: 2rem;
}

th {
  cursor: pointer;
}

th:nth-child(2n),
td:nth-child(2n) {
  background-color: var(--inputBorder);
  color: white;
}

td:nth-child(2n) {
  background-color: var(--headerBg);
  color: white;
}
th:nth-child(2n-1) {
  background-color: var(--optionBg);
}
td:nth-child(2n-1) {
  background-color: white;
}
td {
  max-width: auto;
  padding: 0 1rem;
}

.tdInput {
  text-align: center;
  width: 100%;
  background-color: transparent;
  display: none;
}

.new {
  cursor: pointer;
}

#banner {
  color: white;
  border: none;
  border-bottom: 2px solid black;
}