#table {
  grid-template-rows: 6rem auto 4rem;
  align-items: flex-start;
}

table {
  margin-top: 2rem;
  width: 100vw;
  max-height: 50vh;
}

#searchType {
  justify-items: flex-start;
  padding-left: 0.5rem;
}

tr {
  height: 2rem;
}

th,
td {
  border: 2px solid black;
}

.studentNo {
  border: 2px solid black !important;
}

th {
  cursor: pointer;
}

th:nth-child(2n) {
  background-color: var(--inputBorder);
  color: white;
}

td:nth-child(2n) {
  background-color: var(--headerBg);
  color: white;
}

th:nth-child(2n):hover,
td:nth-child(2n):hover {
  border: 2px solid white !important;
}

th:nth-child(2n-1) {
  background-color: var(--optionBg);
}
td:nth-child(2n-1) {
  background-color: white;
}

th:nth-child(2n-1):hover,
td:nth-child(2n-1):hover {
  border: 2px solid var(--inputBorder);
}

td {
  max-width: auto;
  padding: 0 1rem;
}

.tdInput {
  text-align: center;
  width: 100%;
  background-color: transparent;
  display: none;
}

.new {
  cursor: pointer;
}

#newBtn {
  background-color: lightgreen;
}

.newDiv {
  font-size: 1.2rem;
}

#banner {
  color: white;
  border: none;
  border-bottom: 2px solid black;
}

.icon {
  cursor: pointer;
}
