#table {
  grid-area: page;
  grid-template-rows: 2rem auto;
  align-items: flex-start;
  padding: 3rem 1rem;
}

#search {
  grid-template-columns: 1fr 5rem;
}

#searchInput {
  width: 100%;
}

#searchType {
  justify-items: flex-start;
  padding-left: 0.5rem;
}

th {
  cursor: pointer;
}

th:nth-child(2n), td:nth-child(2n) {
  background-color: rgb(154, 143, 143);
}
th:nth-child(2n-1), td:nth-child(2n-1) {
  background-color: rgb(216, 203, 203);
}

td {
  max-width: auto;
  padding: 0 1rem;
}

.tdInput {
  text-align: center;
  width: 100%;
  background-color: transparent;
  display: none;
}

.newInput {
  display: initial;
}

.new {
  cursor: pointer;
}