#logout {
    height: auto;
    width: auto;
    padding: 0.5rem;
    letter-spacing: 1px;
    align-items: flex-end;
    grid-area: logout;
}

#logoutBtn {
    background-color: var(--optionBg);
    font-weight: bold;
}
#logoutBtn:hover {
  background-color: var(--inputBorder);
  color: white;
}