#logout {
    height: auto;
    width: auto;
    padding: 0.5rem;
    letter-spacing: 1px;
    align-items: flex-end;
}

#logoutBtn {
    background-color: white;
    font-weight: bold;
}
#logoutBtn:hover {
  background-color: var(--inputBorder);
  color: white;
}