#options {
  height: auto;
  grid-row-gap: 1rem;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
  color: black;
  margin-top: 5rem;
}

.option {
  background-color: rgb(200, 223, 214);
  font-size: 1rem;
  cursor: pointer;
  height: 2rem;
  border-radius: 0 10px 10px 0rem;
}