#userInfo {
  height: 7rem;
  margin-top: 2rem;
  grid-row-gap: 0.2rem;
  padding: 10px 5px;
  grid-area: userInfo;
  transform: translateY(-2rem);
  background-color: rgb(58, 82, 112);
  color: white;
}

#userInfo > article {
  justify-items: flex-start;
}

#userName,
#userSurname {
  font-size: 0.8rem;
  font-weight: bold;
}

#userTitle {
  font-size: 0.7rem;
}

#userEmail {
  font-size: 0.6rem !important;
}
