#userInfo {
  height: auto;
  margin-top: 2rem;
  grid-row-gap: 0.2rem;
  font-family: "Michroma", sans-serif;
  padding-left: 1px;
  grid-area: userInfo;
}

#userInfo > article {
  justify-items: flex-start;
  font-size: 0.8rem;
}

#userTitle,#userName {
    font-weight: bold;
}