#userInfo {
  height: 7rem;
  margin-top: 2rem;
  grid-row-gap: 0.2rem;
  padding: 10px 5px;
  grid-area: userInfo;
  transform: translateY(-2rem);
  background-color: rgb(58, 82, 112);
  color: white;

}

#userInfo > article {
  justify-items: flex-start;
  font-size: 1.1rem;
}

#userTitle,#userName, #userSurname {
    font-weight: bold;
}